[flake8]
max-line-length = 127
exclude =
    .git,
    __pycache__,
    fastapi,
    model,
    screenshots,
    .venv,
    venv

ignore =
    E261,
    E303,
    E302,
    E305,
    W291,
    W391,
    F401,
    F841

